/* ตั้งค่าพื้นฐาน */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;

}

.app-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.main-content {
  flex: 3;
  margin-right: 20px;
}

.sidebar {
  flex: 1;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
}

.header h1, .header h2 {
  margin: 0;
  padding: 0;
}

.about-me, .attend-training, .project .reference{
  margin-bottom: 20px;
}

h3 {
  /* border: 1px solid; */
  /* border-bottom: 2px solid #3f3f3f; */
  padding-bottom: 7px;
  margin-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #cccaca
}
.contact-info {
  list-style: none;
  padding: 0;
  font-size: 14px;
}

.contact-info li {
  margin-bottom: 8px;
}
.profile-pic {
  width: 150px; 
  height: 200px; 
  object-fit: cover; 
  border-radius: 0; 
  margin-bottom: 10px;
}
img {
  border-radius:0%; /* ลบหรือปรับให้เป็น 0 */
}


@media (max-width: 576px) {
  .app-container {
    flex-direction: column;
    padding: 10px;
  }

  .main-content, .sidebar {
    margin-right: 0;
    width: 100%;
  }
}
